/* Add CSS Styling */
.odd {
    background-color: rgb(235, 89, 89);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#two{
    color:blue;
    font-size: 36px;
}

#three{
    font-size: 24px;
}

#four {
    background-color: rgb(155, 255, 155);
    font-size: 24px;
    font-weight: bold;
}
