div, p{
    color: white;
}

div {
    background-color: red;
    font-weight: 700;
    text-align: center;
    font-size: 32px;
}

p{
    background-color: green;
}

button {
    background-color: orange;
    font-size: 18px;
}